html, body {
	height: 100%;
	min-height: 100%;
	margin: 0px;
	color: #fff;
}
.container {
	min-height: 100%;
}
snap-content {
	background-color: #fff;
}
.rotate180 {
	display: inline-block;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition: all linear 200ms;
	transition: all linear 200ms;
}
.rotate-back {
	display: inline-block;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all linear 200ms;
	transition: all linear 200ms;
}
button {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: absolute;
	font-size: 1.5rem;
}
.wrapper h3 {
	margin: 0 auto;
}
button:focus {
	outline: 0;
}
.wrapper div {
	width: 100%;
	text-align: center;
	padding: 40px 0px;
	font-family: 'Oswald', sans-serif;
	display: flex;
	align-items: center;
	justify-items: center;
}
.wrapper div:nth-child(1) {
	background-color: #eeb49a;
}
.wrapper div:nth-of-type(2n) {
	background-color: #e67b82;
}
.wrapper div:nth-of-type(3n) {
	background-color: #b57184;
}
.wrapper div:nth-of-type(4n) {
	background-color: #695d78;
}
.wrapper div:nth-of-type(5n) {
	background-color: #3f5c7b;
}
.transformable {

	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
.small {
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
	z-index: 9999;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 107px;
	left: 0;
	background-color: #ccc;
}
.big {
	height: 25%;
	-moz-transition: 1s;
	-ms-transition: 1s;
	-o-transition: 1s;
	-webkit-transition: 1s;
	transition: 1s;
}
